@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.section-block {
  &.section-block--schedule {
    .link.link-btn {
      display: block;
      max-width: 23em;
      margin: 1em auto;
    }
    .embed-calender{
      width: 600px;
      height: 450px;
    }
    h4{
      color: #173A2E;
    }
    .scheduleFrame {
      background-color: $white;
      margin-bottom: 1em;
      border-radius: 3px;
    }


    .block--events {
      padding: 1em;
      background-color: $white;
      margin-bottom: 1em;
      border-radius: 3px;

      p {
        margin-bottom: 0.8em;
          strong {
          margin-bottom: 0.5em;
          font-weight: 500;
        }         
      }
    }
  }
}